<header>
  <nav>
    <div class="nav-items">
      {{!-- <div class="left">
      </div> --}}
      <div class="right">
        <i class="far fa-sticky-note item-icons"></i>
        <i class="fas fa-plus menu-item"></i>
        <a href="/dashboard"><i class="fas fa-cog menu-item"></i></a>
      </div>
    </div>
  </nav>
</header>