<header class="db-header">
  <nav>
    <div class="nav-items">
      <div class="left">
      </div>
      <div class="right">
        <a href="/"><i class="far fa-sticky-note item-icons"></i></a>
        <a href="/addmilestone"></a><i class="fas fa-plus menu-item"></i>
        <a href="/settings"><i class="fas fa-cog menu-item"></i></a>
      </div>
    </div>
  </nav>
</header>