<header class="db-header">
  <nav>
    <div class="nav-items">
      <div class="left">
      </div>
      <div class="right">
        <form class="icon-form" action="/newEntryInJournal" class="plus-btn" method="post">
          <input type="hidden" name="journalId" value={{journalId}}>
          <button class="clear-btn" type="submit"><i class="special-icon far fa-sticky-note"></i></button>
        </form>
        <a href="/addmilestone"></a><i class="fas fa-plus menu-item"></i>
        <a href="/settings"><i class="fas fa-cog menu-item"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </nav>
</header>

<style>


</style>