<style>

p.serif {
    font-family: "Book Antiqua", Palatino, serif;
}

.wrapper {
    text-align: center;
    position: absolute;
    top: 48%;
    right:50%;

}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 55px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2FEB93;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2FEB93;
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
h2 {
	color: #2E3532;
	font-size: 40px;
	font-family: Palatino;
}

</style>