<style>


.button {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 80px;
    height: 25px;
    font-size: 26px;
    text-align:center;
    margin:auto;
    position:absolute;
    right: 20%;
  
}

.button1 :hover {
    background-color: #4CAF50;
    color: white;
    position: absolute;

}

p.serif {
    font-family: "Book Antiqua", Palatino, serif;
}
h1 {
    color: #2E3532;
    font-family: Palatino;
    font-size:250%;
}

textarea{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


</style>