{{> dashboard-header }}

<main class="dashboard">
    <section class="journal-view">
        <p class="journal-weeks-label">Your Notes</p>
        <section>
            {{#each entries}}
            {{!-- there could be some way to do it like this like maybe in some js --}}
                {{!-- {{#each this.entries}} --}}
                    {{!-- temp fix changing @../index to 0 for demo. --}}
                    <form action="/journal/0/{{@index}}" method="get">
                        <input type="hidden" name="journal-index-0" value="0"></input>
                        <input type="hidden" name="entry-index-{{@index}}" value="{{@index}}">
                        <input class="j-input" type="text" value="{{ dotdotdot this.text }}">
                        {{!-- <input class="clear-btn" type="submit"><h3></h3> --}}
                    </form>
                {{!-- {{/each}} --}}
            {{/each}}
        </section>
        {{!-- <canvas class="journal-view-box" id="myCanvas" ></canvas> --}}
    </section>
</main>

<style>
    form {
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, 0.144);
        margin-left: 1em;
    }
    .j-input {
        background-color: transparent;
        border: none;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: .6em;
    }
</style>