{{> dashboard-header }}

<main>
        <section class="journal-view">
            <p class="journal-weeks-label">Weeks</p>
            <canvas class="journal-view-box" id="myCanvas" ></canvas>
        </section>
</main>