{{> dashboard-header }}

<main class="dashboard">
    <section class="journal-view">
        <p class="journal-weeks-label">Your Notes</p>
        <section>
            <p><strong>journal notes here...</strong></p>
        </section>
        {{!-- <canvas class="journal-view-box" id="myCanvas" ></canvas> --}}
    </section>
</main>