{{> dashboard-header }}

<main>
    {{!-- <div class="journal-wrapper"> --}}
        <section class="journal-view">
            <p class="journal-weeks-label">Weeks</p>
            
        </section>
    {{!-- </div> --}}
</main>