<main>
    <h1>Homeowner</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti labore molestiae? Quo assumenda, quam, repellat officia natus repellendus, sint sunt illo quod rerum sapiente doloribus excepturi in omnis. Quisquam!</p>

    <section>
        <h3>Regular $250/year</h3>
        <ul>
            <li>benefit 1</li>
            <li>benefit 2</li>
            <li>benefit 3</li>
            <li>benefit 4</li>
        </ul>
        <h3>Plus $350/year</h3>
        <ul>
            <li>benefit 1</li>
            <li>benefit 2</li>
            <li>benefit 3</li>
            <li>benefit 4</li>
        </ul>
    </section>

    <button><a href="/signup">Sign up</a></button>
</main>