@include phone {
    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .journal-view {
            height: 90vh;
            .journal-weeks-label {
                text-align: left;
                margin-left: 1em;
                display: block;
                font-size: 1.6em;
                font-weight: 800;
                margin-bottom: .5em;
            }
            .month {
                display: flex;
                justify-content: space-evenly;
                .circle {
                    height: 20px;
                    width: 20px;
                    background-color: $white;
                    border-radius: 50%;
                    margin-bottom: 1em;
                  }
            }

        }
    }
}