@include phone {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .journal-view {
            height: 90vh;
            .journal-weeks-label {
                text-align: center;
                margin: 0;
                display: block;
            }
        }
    }
}