
@include phone {
    .journal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .choose-item {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center; 
            // padding: .6em 0em;
            .item-icons {
                color: $white;
                font-size: 2.2em;
                // margin: 0em .2em;
            }
        }
        // .journal-wrapper {
        //     display: flex;
        //     flex-direction: column;
        //     min-height: 80vh;
            .journal-area {
                height: 100vh;
                    background: url(/images/paperbg.png) no-repeat center center fixed; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                // flex: 1;
                .save-text {
                    margin: 0;
                    display: block;
                    text-align: right;
                    color: $white;
                    font-size: 0.8em;
                    margin-bottom: 3px;
                    margin-right: 3px;
                
                }
                .journal-form {
                    box-sizing: border-box; 
                    height: 95%;
                    width: 99%;
                    font-size: 1em;
                    textarea {
                        height: 100%;
                        max-width: 99%;
                        width: 99%;
                        font-size: 1em;
                        background-color: transparent;
                        border: none;
                        padding-left: .6em;
                        padding-right: .6em;
                        //TODO: add padding to this later

                    }
                    textarea:focus {
                        outline: 0;
                        outline-color: transparent;
                        outline-style: none;
                      }
                }
            }
            .journal-guide {
                width: 100%;
                height: 15vh;
                background-color: $blue;
                position: fixed;
                bottom: 0;
                right: 0;
                .popup-question {
                    margin-top: .4em;
                    text-align: center;
                    color: $white;
                    font-size: 1.2em;
                    margin-bottom: 0px;
                }
                .mood-choice {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center; 
                    bottom: 0;
                    p {
                        font-size: 2em;
                        margin-top: 0.3em;
                    }
                }
            }
        // }
    }
}