.auth-page.signup.settings {
    padding: 2em 0em;
    .settings-nav {
        margin-bottom: 2em;
        .back-link-text {
            margin-bottom: 1em;
        }
        .settings-title, .back-link-text {  
            margin-left: 1em;
        }
    }
    .info-section {
        text-align: center;
        letter-spacing: 1px;
        padding: 1em;
        .copy-section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em 0 0;
            .code {
                padding: .34em 0em;
                width: 100%;
            }
            button {
                border-radius: 0.2em;
                background-color: #1C1C1C;
                color: #F5F5F5;
                border: none;
                letter-spacing: 1px;
                padding: .5em 2em;
            }
            button:hover {
                background-color: #5cb85c;
            }
        }
        .user {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: .8em;
            .user-name {
                font-size: 1.2em;
            }
        }
    }
    .settings-title {
        font-size: 1.7em;
        font-weight: 800;
        letter-spacing: 1px;
    }
    .auth-form.settings {
        padding: 0px;
    }
    legend {
        text-align: left;
        margin: 1em 0em;    
    }
}